ul.fancytree-container {
	width:  330px!important;
	/*width:  350px;*/
	height: 450px!important;
  /*overflow: auto!important;*/
  overflow-x: hidden;;
  overflow-y: auto!important;
  position: relative!important;

}

.dialog {
	display: none
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
	font-size: 10pt;
}