 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
} 

#optForm  {
  width: 800px;
  font-size: 0.9em;
  margin: 0 auto;
}

#tabs .ui-tabs-panel {
    height: 300px;
    overflow: auto;
}

#buttons {
  margin-top: 10px;
  margin-bottom: auto;
  text-align: center;
}

fieldset legend{
  font-size: 0.9em;
} 

.fRow {
  display: flex;
  height: 2.5em;
  align-items: center;
  font-size: 0.9em;
  
}

#optForm label, select {
  margin-left: 5px;
  margin-right: 5px;
}



