body 
{ 
	font-family: sans-serif; 
	/*min-width:  350px;*/
	width:  100%;
	height:  100%;
	overflow: hidden;
	/*min-height: 550px;*/
	/*max-height: 700px;*/
}

#hmenu .nav-bar 
{ 
	list-style:none; margin-top: 0px; 
	padding-left: 0px;
	height: 5px;
}

#hmenu .nav-bar li 
{ 
	display:inline; padding:0 0; 
	font-size: 10pt;
}

#hmenu .nav-bar li a 
{
  /*text-decoration: none; */
  padding-left: 24px;
/*   text-transform: uppercase; */
/*   color: #333; */
/* 	text-shadow: 1px 1px 1px #ccc; */
}

.nav-bar .hmenuRefresh a 
{ 
	background:url("../images/update.png") no-repeat 0px 0px transparent; 
}

.nav-bar .hmenuAdd a 
{ 
	background:url("../images/bkmrk_add_on.png") no-repeat 0px 0px transparent; 
}

.nav-bar .hmenuAdd a.disabled-link 
{ 
	background:url("../images/bkmrk_add_off.png") no-repeat 0px 0px transparent; 
	pointer-events: none;
}

.nav-bar .hmenuEdit a 
{ 
	background:url("../images/bkmrk_edit_on.png") no-repeat 0px 0px transparent; 
}

.nav-bar .hmenuEdit a.disabled-link 
{ 
	background:url("../images/bkmrk_edit_off.png") no-repeat 0px 0px transparent; 
	pointer-events: none;
}

.nav-bar .hmenuDel a 
{ 
	background:url("../images/bkmrk_delete_on.png") no-repeat 0px 0px transparent; 
}

.nav-bar .hmenuDel a.disabled-link
{ 
	background:url("../images/bkmrk_delete_off.png") no-repeat 0px 0px transparent; 
	pointer-events: none;
}

.nav-bar .hmenuAddOpenTabs a 
{ 
	background:url("../images/add_open_tabs.png") no-repeat 0px 0px transparent; 
}
.nav-bar .hmenuOpt a 
{ 
	background:url("../images/setting_tools.png") no-repeat 0px 0px transparent; 
}
.nav-bar .hmenuGBs a 
{ 
	background:url("../images/star.png") no-repeat 0px 0px transparent; 
}
.nav-bar .hmenuFFbookmark a 
{ 
	background:url("../images/import_export.png") no-repeat 0px 0px transparent; 
}
.nav-bar .menuAbout a 
{ 
	background:url("../images/About_icon.png") no-repeat 0px 0px transparent; 
}
.nav-bar .hmenuLgn a 
{ 

}
.nav-bar .hmenuLgt a 
{ 
	 display: none;
}

#wrapper{
	width: 350px;
	/*height: 450px;*/
}

div.filterHBox{
    padding:0.1em;
    margin:0.1em;
    width: 330px;
}

div.filterHBox label{
    float:left;
    margin-right:5px;
    padding: 4px 0;
    font-size: 10pt;
}

div.filterHBox span{
    display: block;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 1px;
}

div.filterHBox input{
    width:100%;
    padding-top:1px;
    border:thin solid gray;
    background: url("../images/searchicon.png") no-repeat 99% center;
    /*background: url("../images/searchicon.png") no-repeat right center;*/
    font-size: 11pt;
}

.filterHBox-clear {
    clear: both; 
}

.info-box, .error-box {
	display: none;
	/*display: flex;*/
  align-items: center;
/*  justify-content: center;*/
  padding-right: 15px;
	/*max-width: 330px !important;*/
	max-width: 99%;
}


.info-box img, .error-box img {
	width: 18px;
	height: 18px;
}

.info-box label, .error-box label {
	margin-left: 5px;
	font-size: 10pt;
	flex: 1;
}


/*#wrap {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll
}*/


ul.fancytree-container {
	/*width:  330px!important;*/
	width:  99%;
	height: 450px!important;
  /*overflow: auto!important;*/
  overflow-x: hidden;;
  overflow-y: auto!important;
  position: relative!important;

}

.dialog {
	display: none
}

.dialog input[type="text"], .dialog textarea 
{
	width: -moz-available;
}

.dialog label{
	margin-bottom: 3px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
	font-size: 10pt;
}

.ui-menu {
	font-size: 0.8em;
	border-radius: 6px;
	width: 250px;
}

.ui-menu-item-wrapper, .ui-menu {
	border-radius: 6px;
}

#editBkmkDlg-url[readonly="readonly"] {
	background-color: rgb(227, 227, 227);
	color: rgb(109, 109, 109);
}

/*#bkmk-tree.ui-widget-content .ui-state-active:hover, .ui-state-active:hover{*/
.GBE-ui-contextmenu .ui-state-active, .GBE-ui-contextmenu .ui-state-active:hover {
	background:#e4f1fb;
	font-weight:normal;
	color:#000;
	border-radius: 6px;
}

.GBE-ui-contextmenu .ui-icon {
	margin: 3px;
}

.GBE-ui-contextmenu .cntx-page-edit {
	background-image: url("../images/page_edit.png");
}


.GBE-ui-contextmenu .cntx-page-go {
	background-image: url("../images/page_go.png");
}
.GBE-ui-contextmenu .cntx-page-delete {
	background-image: url("../images/delete.png");
}
.GBE-ui-contextmenu .cntx-qrcode-icon {
	background-image: url("../images/qr-code-icon.gif");
}
.GBE-ui-contextmenu .cntx-bookmark-emai {
	background-image: url("../images/bookmark_email.png");
}
.GBE-ui-contextmenu .cntx-bookmark-fbshare {
	background-image: url("../images/bookmark_fbshare.png");
}
.GBE-ui-contextmenu .cntx-bookmark-twshare {
	background-image: url("../images/bookmark_twshare.png");
}

.GBE-ui-contextmenu .cntx-folder-menuEdit{
	background-image: url("../images/folder_edit.png");
}
.GBE-ui-contextmenu .cntx-folder-menuRemove{
	background-image: url("../images/folder_delete.png");
}
.GBE-ui-contextmenu .cntx-folder-menuOpenAll{
	background-image: url("../images/folder_go.png");
}
.GBE-ui-contextmenu .cntx-folder-menuAddHere{
	background-image: url("../images/folder_add.png");
}
.GBE-ui-contextmenu .cntx-folder-menuAddAllTabs{
	background-image: url("../images/add_open_tabs.png");
}
.GBE-ui-contextmenu .cntx-folder-menuHideFolder{
	background-image: url("../images/folder.png");
}
.GBE-ui-contextmenu .cntx-folder-menuUnhideFolder, .GBE-ui-contextmenu .cntx-folder-menuUnhideAll{
	background-image: url("../images/folder_blue.png");
}


#qr_dialog_image {
	width: 200px;
	height: 200px;
	margin-left: -1px;
  margin-top: 6px;
}